GRPC_ADDR=127.0.0.1:10039
REDIS_ADDR=127.0.0.1:6379
DATA_SOURCE=postgres://user:pass@127.0.0.1:5432/webitel?application_name=media_exporter&sslmode=disable&connect_timeout=10
OTEL_LOG_FORMAT_TIMESTAMP="2006-01-02 15:04:05.000000Z07:00"
CONSUL_HOST=127.0.0.1:8500
CONSUL_ID=webitel.media-exporter

MEDIA_EXPORTER_TEMP_DIR=/var/cache/webitel-media-exporter
